<div class="quienes-somos">
    <h2 class="titulo">¿Quiénes Somos?</h2>
    <img src="assets\img\logoPNG.png" alt="Logotipo de la empresa" class="logo">
    <p>
        Somos una empresa dedicada al mantenimiento de vehículos, con años de experiencia en el sector. Nuestro equipo de expertos está comprometido en brindar un servicio de calidad y soluciones integrales para el cuidado de tu vehículo.
    </p>
    <p>
        Nos especializamos en el diagnóstico y reparación de averías mecánicas, mantenimiento preventivo, cambio de aceite, revisión de frenos, cambio de neumáticos y mucho más. Nuestro objetivo es mantener tu vehículo en óptimas condiciones para garantizar tu
        seguridad y comodidad en cada viaje.
    </p>
    <p>
        Confía en nosotros para el cuidado de tu vehículo. ¡Estamos aquí para ayudarte!
    </p>
    <!-- Agrega más contenido y elementos visuales aquí -->
</div>