<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento Vehicular</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container main-container">
        <router-outlet></router-outlet>
    </div>
    <!--
    <div class="container-fluid">
        <div class="row p-5 bg-primary justify-content-center">
            <div class="col-xs-12 col-md-6 col-lg-3 mb-4">

                <img src="assets\img\logoPNG.png" style="width: 250px;">
                <p>© AUTOSERVICE 2023, made by Grupo3</p>
                <p>CONTACT</p>
                <p>nolmedo2@utmachala.edu.ec</p>
                <p>SOCIAL</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 mb-4">
                <p>DIREECCIÓN</p>
                <p>Buena Vista entre Sucre y Olmedo</p>
                <p>Machala, Ecuador</p>
                <p>Telefono 2921-120</p>

            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 mb-4">
                <p>HORARIOS</p>
                <p>Lunes a Viernes</p>
                <p>08:30AM a 17:00PM</p>
                <p>Sabados</p>
                <p>09:00AM a 13:00PM</p>

            </div>

        </div>
    </div>
    -->
    <img src="assets\img\PieDePagina.jpg" style="width: 100%;">
</body>

</html>