.login-records-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.reports-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}

.titulo {
  position: relative;
  justify-content: center;
  font-weight: 500;
}

.card {
  position: relative;
  width: 470px;
  height: 400px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-color: gray;
  border-radius: 25px;
}

.reporte {
  background-color: transparent;
  border-radius: 25px;
  height: 398px;
}

.imagen {
  position: absolute;
  width: 250px;
  height: 150px;
  overflow: hidden;
  align-content: center;
  left: 120px;
  top: 40px;
}

.imagen img {
    width: 250px;
    height: 150px;
    overflow: hidden;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descrip {
  position: relative;
  text-align: left;
  top: 160px;
  left: 90px;
}

.descrip .modelo {
  position: relative;
  top: -10px;
}

.descrip .chasis {
  position: relative;
  top: -18px;
}

.descrip .placa {
  position: relative;
  top: -25px;
}

.descrip .kilometraje {
  position: relative;
  top: -36px;
}

.acciones {
  background-color: transparent;
  border-color: transparent;
}


.darmantenimiento {
  position: absolute;
  background-color: #dd3a08;
  color: white;
  border: 0px;
  border-radius: 10px;
  width: 160px;
  height: 30px;
  top: 355px;
  left: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.darmantenimiento:hover {
  background: black;
}

.editar {
  position: absolute;
  background-color: #dd3a08;
  color: white;
  border: 0px;
  border-radius: 10px;
  width: 140px;
  height: 30px;
  top: 355px;
  left: 290px;
  margin-top: 3px;
  cursor: pointer;
}

.editar:hover {
  background: black;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td {
    padding: 8px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .custom-dialog-class {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; 
  }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.ventana-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.cerrar-modal {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: dd3a08;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1002;
}

.ventana-emergente {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1200;
  width: 600px;
  height: 400px;
  text-align: left;
  border-radius: 10px;
}

.ventana-emergente h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ventana-emergente label {
  display: block;
  margin-bottom: 10px;
}


.ventana-emergente input[type="text"] {
  position: relative;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.ladoderecho {
  position: relative;
  left: 250px;
  top: -310px;
}

.ventana-emergente button {
  position: relative;
  background-color: #dd3a08;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  top: -300px;
  left: 230px;
}

.ventana-emergente button:last-child {
  background-color: #dc3545;
}

.ventana-emergente button[type="submit"] {
  background-color: #28a745;
}
